#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: hotpink !important;
  color: white !important;
}

.list-group-item {
  border: 0px;
}

ul:hover {
  background-color: rgb(29, 29, 29);
  color: white !important;
}
ul {
  padding: 1em;
}
h2 {
  color: hotpink;
  padding: 1em;
  font-weight: 550;
  /*text-shadow: yellowgreen 10px -5px 0.8em;*/
  text-shadow: 0 -0.1em 0.5em yellowgreen;
}

body {
  font-family: "Optima", sans-serif;
}
body {
  /*background-color: rgba(0, 0, 0, 0.836);*/
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.92) 0%,
    rgba(0, 0, 0, 0.81) 25%,
    rgba(0, 0, 0, 0.91) 50%,
    rgba(0, 0, 0, 0.77) 75%,
    rgba(0, 0, 0, 0.92) 100%
  );
}

.messageC td {
  background-color: rgba(0, 0, 0, 0) !important;
  color: whitesmoke;
}

.table tbody tr td,
.table thead tr th {
  padding: 1em;
  border: 1px dashed yellowgreen;
  border-right: 1px dashed hotpink;
}

.table tbody tr {
  box-shadow: 0 -0.1em 0.8em yellowgreen;
}

.table thead tr th {
  box-shadow: 0 -0.5em 0.1em yellowgreen;
}

.table {
  border: 1px solid hotpink;
}

.table thead tr th {
  color: hotpink;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.message {
  color: yellowgreen;
}

.bold {
  font-weight: bold;
}

.list-group {
  padding: 1em 0;
}

.btn-primary {
  background-color: hotpink !important;
  border: 1px solid yellowgreen !important;
  margin-top: 1em;
}
.btn-primary:hover {
  background-color: yellowgreen !important;
  border: 1px solid hotpink !important;
}
